<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-nav></app-nav> -->
<mat-toolbar  color="primary">
  <mat-toolbar-row>
  <span>JS-jargon</span>
  </mat-toolbar-row>
  </mat-toolbar>
  <main>
  <mat-card >
  <mat-card-header>
  <mat-card-title>imelda</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   Good
  </mat-card-content>
  <mat-card-actions>
  <a  mat-raised-button  href="/About"  color="primary">More</a>
  </mat-card-actions>
  </mat-card>
  <mat-card >
    <mat-card-header>
    <mat-card-title>Doharta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
     Ok
    </mat-card-content>
    <mat-card-actions>
    <a  mat-raised-button  href="/About"  color="primary">More</a>
    </mat-card-actions>
    </mat-card>
    <mat-card >
      <mat-card-header>
      <mat-card-title>Aritonang</mat-card-title>
      </mat-card-header>
      <mat-card-content>
       Excelence
      </mat-card-content>
      <mat-card-actions>
      <a  mat-raised-button  href="/About"  color="primary">More</a>
      </mat-card-actions>
      </mat-card>
  </main>
<!-- <section>
  <router-outlet></router-outlet>
</section> -->
